@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    font-family: 'Balsamiq Sans', cursive;
    margin: 0;
    padding: 0;
}

body {
    font-size: 18px;
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

button {
    cursor: pointer;
}

.container {
    width: 75%;
    margin: 0 auto;
}